<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Footer Component</title>
</head>
<body>
  <footer>
    <div class="footer-area">
      <div class="bottom-logo-socials">
        <div class="bottom-logo-name">
          <p>Team Name</p>
          <img src="#" alt="Team Logo">
        </div>
        <div class="socials">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Nav1</a></li>
          <li><a href="#">Nav2</a></li>
          <li><a href="#">Nav3</a></li>
          <li><a href="#">Nav4</a></li>
          <li><a href="#">Nav5</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>