body{
  background: linear-gradient(black,grey);
}

.gallery-container{
  margin: 2em;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(350px, auto));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
  justify-content: center;
}

a{
  border: 1px solid black;
  box-shadow: 2px 2px 5px 0px pink;
  text-align: center;
  text-decoration: none;
  color: white;
  background: rgba(250, 3, 196, 0.1);
  text ;
}

img{
  width:330px;
  height: 250px;
}
a:hover{
  background-color: grey;
  border: 2px solid blue;
  
}

@media (max-width: 600px){
  .gallery-container{
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    justify-content: center;
}
}