body{
  background: linear-gradient(black,grey);
}

main{
  max-width: 1400px;
  margin: auto;
}

main h1{
  color: white;
  text-align: center;
}

.gallery-container{
  margin: 0 3em;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(400px, auto));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
  justify-content: center;
}

.keyboard{
  border: 1px solid black;
  box-shadow: 2px 2px 5px 0px pink;
  text-align: center;
  background: rgba(250, 3, 196, 0.1);
}

.keyboard h2, .keyboard p{
  text-align: center;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: white;
}

.keyboard p {
  padding: 0 1em;
}

.gallery-container img{
  width: 75%;
  height: 60%;

  object-fit: cover;
}

.keyboard:hover{
  background-color: grey;
  border: 2px solid blue;
}

@media (max-width: 600px){
  .gallery-container{
    margin: 0 1.5em;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    justify-content: center;
}
}