body {
  /* Base Layout Styling */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
}

a, a:visited {
  /* Anchor Link Styling */
  text-decoration: none;
  color: black;
}

.header-area {
  /* Header Logo-Nav Main Flexbox */
  display: flex;
  flex-direction: column;

  background-color: lightgray;

  text-align: center;
}

.header-logo-name {
  /* Header Team Name and Logo Flexbox */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-logo-name p {
  /* Header Team Name Styling */
  font-size: 18px;
}

.header-logo-name img {
  /* Header Logo Styling */
  max-width: 30px;
}

.header-nav a {
  /* Header Nav Button Styling */
  display: block;

  padding: 1em;

  background-color: black;

  color: white;
}

.header-nav ul {
  /* Header Nav List Styling */
  list-style: none;

  padding-left: 0;

  margin: auto;
}

.header-nav a:hover {
  /* Header Nav Button Hover State Styling */
  background-color: red;
  transition: all 200ms ease-out;
}

.header-nav a.active-page {
  /* Header Nav Button Current Page Highlight */
  font-weight: 700;
}

footer {
  /* Footer Area */
  background-color: lightgray;
}

.footer-area {
  /* Footer Main Flexbox */
  display: flex;
  flex-direction: column;

  text-align: center;
}

.footer-logo-socials {
  /* Footer Logo and Socials Flexbox*/
  display: flex;
  flex-direction: column;
}

.footer-logo-name {
  /* Footer Logo and Team Name */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-logo-name img {
  max-width: 30px;
}

.footer-socials {
  /* Footer Socials Section */
  text-align: center;
}

.fa {
  /* Footer Social Logos */
  width: 20px;
}

.fa:hover {
  /* Footer Socials Hover State */
  opacity: 0.5;
}

.footer-nav a {
  /* Footer Nav Button Styling */
  display: block;
  padding: 0.5em;
}

.footer-nav ul {
  /* Footer Nav List Styling*/
  list-style: none;
  padding-left: 0;
}

.footer-copyright {
  /* Footer Copyright Text */
    text-align: center;
}

/*-------------------404 page css--------------*/
.main{
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.842),rgba(0, 0, 0, 0.733)),url('../images/background/pexels-soulful-pizza-3715428.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*fonts*/
  color: #efefef;
}

.contain{
  padding-top: 20rem;
  max-width: 40ch;

  /*flex*/
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contain h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contain a{
  display: inline-block;
  border-radius: 5px;
  padding: .3em .5em;
  margin-top: 2rem;
  transition: all 0.4s ease 0s;

  background-color: #ff3b3f;/*ff3b3f*/
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.contain a:hover{
  background-color: #caebf2; /*caebf2*/
  border-color: #caebf2;
  color: black;

  transition: all 0.4s ease 0s;
}

/*------------------Hero--------------------*/
header .hero{
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.514)),url('../images/background/733243111-huge.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  /*fonts*/
  color: #efefef;
}

.info{
  padding-top: 20rem;
  
  /*flex*/
  
  margin: 0 auto;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.info h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.info a{
  display: inline-block;
  border-radius: 5px;
  padding: .3em .5em;
  margin-top: 2rem;
  transition: all 0.4s ease 0s;

  background-color: black;/*ff3b3f*/
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.info a:hover{
  background-color: #caebf2; /*caebf2*/
  border-color: #caebf2;
  color: black;

  transition: all 0.4s ease 0s;
}
/*----------------------------------------------*/

/*-------------------CONTACT--------------------*/

/*positioning for the entire form div*/
.form{
  max-width: 20vw;
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  position: relative;
}

/*spacing and color for the box*/
.contactform{
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  
  background-color: white;
  box-shadow: 2px 2px 2px 2px #88888877; 
}

/*spacing for each input types and background color for them*/
.contactform input[type="text"], .contactform input[type="email"], .contactform textarea{
  width:100%;
	border:2px transparent;
	margin-bottom: 5px;
	padding:10px;
  box-sizing: border-box;

  background:#393e41;
}

/*hover state and trasitions for the input types*/
.contactform input[type="text"]:hover, .contactform input[type="email"]:hover, .contactform textarea:hover{
  transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;

	border:4px solid ;
  
  border-image: linear-gradient(-45deg, #F92A82 0%, #E2C044 100%);
  border-image: linear-gradient(-45deg, rgba(249, 42, 130, 1) 0%, rgba(226, 192, 68, 1) 100%);
  border-image: linear-gradient(to bottom right, #F92A82, #E2C044);
  border-image-slice: 1;
}

/*send button spacing and background color*/
.contactform button[type="submit"]{
  width:100%;
	margin:0 0 5px;
	padding:10px;  
  
  border:2px transparent;
  display: block;
  box-sizing: border-box;
  
  background: #e0e0e0;
}

/*hover state for send button*/
.contactform button[type="submit"]:hover{
  transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: linear-gradient(-45deg, #F92A82 0%, #E2C044 100%);
  background: linear-gradient(-45deg, rgba(249, 42, 130, 1) 0%, rgba(226, 192, 68, 1) 100%);
  background: linear-gradient(to bottom right, #F92A82, #E2C044);
 }

 /*removes the resizing tab for text area and set a constant size*/
 .contactform textarea {
	height:100px;
	max-width:100%;
  resize:none;
}
/*----------------------------------------------*/


@media only screen and (min-width: 40em) {
  .header-area {
    /* Header Logo-Nav Main Flexbox */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-name {
    /* Header Team Name and Logo Flexbox */
    padding-left: 1em;
  }

  .header-logo-name p {
    /* Header Team Name Styling */
    width: 14ch;

    margin: auto;
  }

  .header-nav ul {
    /* Header Nav List Styling */
    display: flex;
    justify-content: space-evenly;
  }

  .header-nav a.active-page {
    /* Header Nav Button Current Page Highlight */
    font-weight: normal;

    box-shadow: inset 0 3px 0 0 blue;
  }

  .footer-area {
    /* Footer Main Flexbox */
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    max-width: 800px;

    margin: auto;
  }
}